//Variables Color Scheme

// Variables First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Variables Second Color Scheme
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Variables Third Color Scheme
$eerie-bolack: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Variables Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Varibles Font Sizes
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Variables Font Weight
$fweight-regular: 300;
$fweight-light: 400;
$fweight-black: 900;

//Font style
$italic: italic;

///////////////////////
//Variables Boostrap//

//line-77 - redefino color 
//$dark:$my-eerie-bolack;

//line-936 - redefino color de la hamburgesa
//$navbar-dark-color: rgba($my-white, 1);

//line-968 - redefino el borde del boton con opacidad 0 para quitar el color blanco
//$navbar-dark-toggler-border-color: rgba($my-white, 0)


