//familia de letras
body {
  font-family: $roboto;
  font-style: $regular;
  font-size: $medium;
  font-weight: $fweight-regular;
  color: $eerie-bolack;
}

h1 {
  font-family: $playfair;
  font-size: calc(30px + (100vw - 280px) * 0.15 );
  font-weight: $fweight-black;
  font-style: $italic;
  color: $white;
  text-shadow: 2px 2px 4px #000000;

  @include response-to('device-small') {
    font-size: $xx-large;
  }
}

h2 {
  font-family: $playfair;
  font-size: $x-large;
  font-weight: $fweight-black;
  font-style: $italic;
}

h3 {
  font-size: $medium;
  color: $fuzzy-wuzzy;
}

p, .fs-custom {
  font-size: $small;
  @include response-to('device-medium') {
    font-size: $medium;
  }
}

