//familia de letras
body {
  font-family: $roboto;
  font-size: $medium;
  font-weight: $fweight-regular;
  color: $eerie-bolack;
}

h1 {
  font-family: $playfair;
  font-size: $x-large;
  font-weight: $black;
  color: $white;
}

h2 {
  font-size: $x-large;
}

h3 {
  font-size: $medium;
}

p {
  font-size: $small;
}